* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    background-image: url(Simpsons_24_20_P1.jpg);
    background-image: none repeat;
    background-attachment: fixed;
    background-repeat: round;
}   
.container {
    width: 80%;
    margin: 10%;
   
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.hw {
    border-radius: 20px;
    width: 32%;
    height: auto;
    justify-content: center;
    text-align: center;
    background: rgba(250, 228, 102, 0.5);
    margin-bottom: 25px;
    padding-bottom: 30px;
}
h4 {
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}
p {
    font-size: 25px;
    margin-bottom: 20px;
}
a {
    margin: 25px;
    padding: 5px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
}
.one {
    
    background: green;
    color: white;
}
.two {
    background: red;

}
.three {
    background: rgb(255, 238, 0);
    color: black;
}
.up {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(212, 186, 186);
    text-align: center;
    background-color: rgba(3, 3, 3, 0.452);
    border-radius: 30px;
}