
h1 {
    text-align: center;
    border: 15px rgb(123, 12, 76);
    border-style: double;
}

.text{
    text-align: center;
    color: black;
}

.text_2 {
    text-align: center;
    color: rgba(253, 6, 6, 0.589)
}

.text_3 {
    text-align: center;
    color: rgb(9, 207, 69)
}

h4 {
    text-align: center;
    color: white;
}

h5{
    text-align: center;
    background-color: rgb(59, 12, 12);
    color: #aeaeae;
}

.word { 
    font-weight: bold;
    
}

#italics {
    font-style: italic;
}

#underscore {
    text-decoration: underline;
}

#crossed_out {
    text-decoration: line-through; 
}

body {
  background-attachment:fixed;
  background-image: url(img/ring.jpg);
  color: rgb(77, 5, 211);
}