* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.hero {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #f4f5f7;
}

.container {
    max-width: 1140px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.brand {
    color: #95989a;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.social a {
    text-decoration: none;
    margin-right: 20px;
}

.main {
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    width: 50%;
    color: #32325f;
}

.subtitle {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.title {
    display: block;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 26px;
}

.discription {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 26px;
}

.price-tag {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 15px;
}

.price {
    display: block;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 49px;
}
.buttons {
    display: flex;
}
.btn1 {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
    border-radius: 6px;
    background-color: #2dce89;
    padding: 20px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;

}
.btn2 {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
    border-radius: 6px;
    background-color: #5e72e4;
    padding: 20px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.specsection {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}
.newsection {
    display: block;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 99px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    width: 23%;
    margin-right: 2%;
}
.block-text {
    margin-top: 40px;
    color: #525f7f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
.footer {
    color: #fff;
    background-color: #32325f;
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
}
.footer a {
    font-size: 16px;
    font-weight: 700;
    display: block;
    color: #fff;
    line-height: 1.4;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-box{
    width: 31%; 

}
.footer p {
    line-height: 1.4;
}
.people {
    background-color: #f4f5f7;
}
.people-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one {
    background-color: #f4f5f7;
}
.people-wrap2 {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one img{
    width: 365px;
    height: 254px;
}
